HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
c01a266f-4d4a-4773-a70c-b656afebc905file
16378858-079c-44d7-b8a1-94ee374f4176file
208bdc18-f86b-488d-ae12-d09852ea06aefile
6a0b68d1-2dc7-44ba-aa5a-4e496504534efile
8c870040-d481-4450-b613-b4469aee5335file
933f490c-416b-4856-9f29-9185b322fbd3file
